{% include 'admin/cabecera.html'%}
<style>
    body {
        font-family: sans-serif;
    }

    #encabezado {
        text-align: center;
        margin-bottom: 20px;
    }

    #encabezado h1 {
        font-size: 24px;
    }

    #informacion {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    #informacion p {
        margin: 0;
    }

    #tabla {
        border-collapse: collapse;
        width: 100%;
    }

    #tabla th,
    #tabla td {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #tabla th {
        text-align: left;
    }

    #tabla tfoot {
        font-weight: bold;
    }

    #total {
        text-align: right;
    }
</style>

<div id="encabezado">
    <h1>Factura</h1>
</div>

<div id="informacion">
    <p>
        <b>Emisor:</b><br>
        Nombre del emisor<br>
        Dirección del emisor<br>
        NIF/CIF: 123456789
    </p>

    <p>
        <b>Receptor:</b><br>
        {{factura[0][1]}}<br>
        {{factura[0][2]}}<br>
        NIF/CIF: 987654321
    </p>
</div>

<table id="tabla">
    <thead>
        <tr>
            <th>Descripción</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for detalle in detalles %}
        <tr>
            <td>{{detalle[3]}}</td>
            <td>1</td>
            <td>{{detalle[4]}}</td>
            <td>$10.00</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">Total</td>
            <td id="total">$60.50</td>
        </tr>
    </tfoot>
</table>


{% include 'admin/pie.html'%}